https://apps.protos.io {
	tls alex@giurgiu.io
	proxy / http://app-store:8000 {
		transparent
	}
	proxy /v2 http://docker-registry:5000 {
		transparent
	}
}

https://releases.protos.io {
	tls alex@giurgiu.io
	root /protos-releases
	log /protos-releases.log
	gzip
	browse
}