https://stats.protos.io {
    tls admin@protos.io
    proxy / http://matomo:80 {
      transparent
    }
    rewrite /stats.js {
      to /matomo.js
    }
    rewrite /stats.php {
      to /matomo.php
    }
}

https://apps.protos.io {
        tls admin@protos.io
        proxy / http://app-store:8000 {
                transparent
        }
        proxy /v2 http://docker-registry:5000 {
                transparent
        }
}

https://code.protos.io {
        tls admin@protos.io
        redir 307 {
                /  https://github.com/protosio/
        }
}

https://releases.protos.io {
        tls admin@protos.io
        root /protos-releases
        log /protos-releases.log
        gzip
        browse
}
